<!--
Shashipal Reddy Pingili
-->
<!DOCTYPE html>
<html>
<head>
	<title>AngularJS First Application</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script>    
	    var app = angular.module("myApp", []);
		app.controller("myCtrl", function ($scope) {
			$scope.welcome = { num1: "", num2: "" }
			$scope.add = function () {
				var a = Number($scope.num1 || 0);
				var b = Number($scope.num2 || 0);
				$scope.result = a + b;
			}
			$scope.sub = function () {
				var a = Number($scope.num1 || 0);
				var b = Number($scope.num2 || 0);
				$scope.result = a - b;
			}
			$scope.mul = function () {
				var a = Number($scope.num1 || 0);
				var b = Number($scope.num2 || 0);
				$scope.result = a * b;
			}
			$scope.div = function () {
				var a = Number($scope.num1 || 0);
				var b = Number($scope.num2 || 0);
				$scope.result = a / b;
			}
		});
	</script>
	<style>
		.container {
			padding: 10px 330px 130px 480px;
			float: left;
			align: center;
		}

		h1 {
			padding: 10px 80px 10px 400px;
		}
	</style>
</head>
<body>
	<h1>AngularJS Calculator Application</h1>
	<div class="container" ng-app="myApp" ng-controller="myCtrl">
		<p>Number1: <input type="text" ng-model="num1"></p>
		<p>Number2: <input type="text" ng-model="num2"></p>
		<input type="button" value="Add" ng-click="add()">
		<input type="button" value="Sub" ng-click="sub()">
		<input type="button" value="Mul" ng-click="mul()">
		<input type="button" value="Div" ng-click="div()">
		<p>{{result}}</p>
	</div>
</body>
</html>
